# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Telegram Session Files
*.session
*.session-journal

# SQLite Database
*.db
*.sqlite
*.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini
